/* Flexbox */

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.col {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-xl-12 {
  @media (min-width: $breakpoint-xl-min) {
    width: 100% !important;
  }
}

.col-xl-6 {
  @media (min-width: $breakpoint-xl-min) {
    width: 45%;
  }
}

.col-md-6 {
  @media (min-width: $breakpoint-md-min) {
    width: 45%;
  }
}

.col-xl-3 {
  @media (min-width: $breakpoint-xl-min) {
    width: 25%;
  }
}

.col-md-3 {
  @media (min-width: $breakpoint-md-min) {
    width: 30%;
  }
}

.col-3 {
  width: 27%
}