@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Nunito';
  font-size: 16px;
  font-weight: 400;
  color: #222;
  margin: 0;
}

button {
  font-family: 'Nunito';
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

a {
  cursor: pointer;
}

input {
  border: 0;
  background-color: transparent;
  width: 100%;

  &:focus-visible {
    outline: none;
  }
}

