@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Nunito';
  font-size: 16px;
  font-weight: 400;
  color: #222;
  margin: 0;
}

button {
  font-family: 'Nunito';
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

a {
  cursor: pointer;
}

input {
  border: 0;
  background-color: transparent;
  width: 100%;

  &:focus-visible {
    outline: none;
  }
}

.profile-picture {
  width: 56px;
  height: 56px;
  border-radius: 30px;

  @media (max-width: $breakpoint-sm-max) {
    width: 48px;
    height: 48px;
  }
}

.separator {
  width: 100%;
  background-color: #ddd;
  height: 1px;
}

.bg-almost-white {
  background-color: $almost-white;
}

.rounded {
  border-radius: 8px;
}
