// Colors
$primary: #FFA666;
$almost-white: #F7F7F7;
$light-grey: #DDD;
$grey: #B0B0B0;
$dark-grey: #717171;
$dark: #222;

// Breakpoints
$breakpoint-xxs: 400px !default;
$breakpoint-xs: 550px !default;
$breakpoint-sm: 743px !default;
$breakpoint-md: 950px !default;
$breakpoint-lg: 1250px !default;