// Colors
$primary: #FFA666;
$almost-white: #F7F7F7;
$light-grey: #DDD;
$grey: #B0B0B0;
$dark-grey: #717171;
$dark: #222;

// Breakpoints
$breakpoint-xxs: 400px !default;
$breakpoint-xs: 550px !default;
$breakpoint-sm: 743px !default;
$breakpoint-md: 950px !default;
$breakpoint-lg: 1250px !default;

$sizes: ('xxs': 0, 'xs':($breakpoint-xxs + 1), 'sm': ($breakpoint-xs + 1), 'md': ($breakpoint-sm + 1), 'lg': ($breakpoint-md + 1), 'xl': ($breakpoint-lg + 1)) !default;

$breakpoint-xxs-max: (map-get($sizes, "xs") - 0.02) !default;

$breakpoint-xs-min: map-get($sizes, "xs") !default;
$breakpoint-xs-max: (map-get($sizes, "sm") - 0.02) !default;

$breakpoint-sm-min: map-get($sizes, "sm") !default;
$breakpoint-sm-max: (map-get($sizes, "md") - 0.02) !default;

$breakpoint-md-min: map-get($sizes, "md") !default;
$breakpoint-md-max: (map-get($sizes, "lg") - 0.02) !default;

$breakpoint-lg-min: map-get($sizes, "lg") !default;
$breakpoint-lg-max: (map-get($sizes, "xl") - 0.02) !default;

$breakpoint-xl-min: map-get($sizes, "xl") !default;